div.nav {
    display: inline-block;
    height: 15vh;
    background-color: #0f172a;
    color: #fff;
    padding: 18px 0px;
}

.nav ul {
    list-style: none;
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.list-items {
    text-decoration: none;
    color: #fff;
}

.active-item {
    color: #A5C9CA;
}