.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

div.home {
    line-height: 3.0rem;
}

.container .side_menu {
    width: 12%;
}

.side_menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    background-color: #e1e1e1;
}

.side_menu ul {
    list-style: none;
}


.home .menu_bar {
    text-align: center;
    background: #e1e1e1;
    border-bottom: 1px solid #313131;
}


.container .main_menu {
    width: 85%;
}

.container .main_menu textarea {
    display: block;
    width: 100%;
    overflow: hidden;
    resize: both;
    min-height: 40px;
    margin-bottom: 1rem;
}

.container label {
    padding: 10px 0px;
}

.container h3 {
    text-align: center;
}

form.mailbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 10%;
}

form.mailbox input {
    border: 1px solid #e1e1e1;
    padding: 5px 10px;
    border-radius: 10px;
    width: 100%;
}