.footer {
    padding: 40px 0px 20px 0px;
    background-image: linear-gradient(#21d4fd, #b721ff);
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #fff;
}

.text-center span {
    margin-left: 10px;
}

@media screen and (max-width:425px) {
    .footer {
        font-size: calc(2.15vw + 30%);
    }
}